.width-10{
    flex: 0 0 10%;
    max-width: 10%;
}

.width-25{
    flex: 0 0 25%;
    max-width: 25%;
}

.width-33{
    flex: 0 0 33%;
    max-width: 33%;
}

.width-50{
    flex: 0 0 50%;
    max-width: 50%;
}
.width-66{
    flex: 0 0 66%;
    max-width: 66%;
}
.width-75{
    flex: 0 0 75%;
    max-width: 75%;
}
.width-90{
    flex: 0 0 90%;
    max-width: 90%;
}
